@import url('.././var/var.css');

.navbar,
.navbar .navitem ul,
.navbar .user_menu {
    display: flex;
    justify-content: space-between;
}
 
.navbar {
    width: 100%;
    background-color: var(--primary);
    position: fixed;
    padding: 0.8% ;
    align-items: center;
    justify-content: space-between;

}

.navbar .navitem {
     width: 50%;
     align-items: center;
}

.navbar .logo h1 {
  
    color: #2C3A64;
}

.navbar .navitem ul {
    list-style: none;
}
.navbar .navitem ul li a,.admin a {
    text-decoration: none;
    font-family: var(--fontfamily);
    font-size: 20px;
    font-style: normal;
}

.navbar .navitem ul li a {
    color: var(--fontcolor);
    font-weight: 400;
    line-height: 30px;


}

.navbar .navitem ul li a:hover {
    color: var(--dimcolor);
}


.navbar .user_menu {
    width: 10%;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    text-align: center;
    flex-direction: column;
    
}

.user_menu .image_user {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    text-align: center;

}

.user_menu  .image_user .image {
    width: 25px;
    height: 25px;
  
}

.user_menu .image_user .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.admin a {
    color: #2C3A64;
    font-weight: 600;

}
.logout{
    display: none;
}
.arrowicon{
    font-size: 24px;
    color: var( --fon);
}
.admin {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    
}

@media only screen and (max-width: 1100px) {
     .user {
        display: none;
    }

    .logout {
        display: flex;
        background: var(--secondary);
        padding: 8%;
        border-radius: 8px;
        color: var(--textcolor);
      
    }
  }