@import url('../../var/var.css');

.navbar,
.navbar .navitem ul,
.navbar .user_menu {
    display: flex;
    justify-content: space-between;
}



.navbar {
    top: 0;
    position:sticky;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 20px 7px;
  
}

.navbar .navitem {
    width: 48%;
    align-items: center;
}

.navbar .logo h1 {
    color:var(--secondary);
}

/*========= navlist========== */

.navbar .navitem ul {
    list-style: none;
}

.navbar .navitem ul li a{
    text-decoration: none;
    font-family: var(--fontfamily);
    font-size: 22px;
    font-style: normal;
    color: var(--fontcolor);
    font-weight: 500;
    line-height: 30px;
}

.navbar .navitem ul li a:hover {
    text-shadow: 0.7px 0px var(--dimcolor);

    
}
.link-class.active {
    color: var(--textcolor);
    background:var(--primary);
    text-shadow: 0.7px 0px var(--dimcolor);
    border-bottom: 3px solid var(--fontcolor);
}

/* =======loginandlogout======= */
.navbar .logout_admin {
    width: 4.8%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar .logout_admin .logout{
    cursor: pointer;
}


@media only screen and (max-width:1600px) {
    .navbar .navitem  {
        width: 60%;
    }
    .navbar .logout_admin {
        width: 6%;
    
    }
    

}

@media only screen and (max-width:1200px) {
    .navbar .navitem  {
        width: 70%;
    }
    .navbar .logout_admin {
        width: 9%;
    
    }
    

}