@import url("../../../../var/var.css");


/* start of css for handover page */
.startofhandoverpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
/* startof search section which contant searchinput  and addbutton */
.startofhandoverpage .search_add {
  justify-content: space-around;
  padding: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
  color: var(--textcolor);
  cursor: pointer;
}

/* searching input section */
.startofhandoverpage .search_add .input {
  color: var(--fontcolor);
  border-radius: 4rem;
  height: 5.7vh;
  padding: 0 0 0 7px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-right: 4px;
  width: 25rem;
}
.startofhandoverpage .input:focus {
  outline: none;
}

.startofhandoverpage .search_add  button {
  background: var(--secondary);
  width: 8rem;
  height: 5.5vh;
  border: none;
  border-radius: 8rem;
  color: var(--textcolor);
  font-size: 1rem;
  cursor: pointer;
}
.startofhandoverpage .search_add button:hover {
  background: var(--hovercolor);
}

/* when form is popup after click add */
.startofhandoverpage .handoverpopup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
}
.handoverpopup .handoverpopup_body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*start of  cancel button */
.startofhandoverpage .cancelbutton {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}
.startofhandoverpage .cancelbutton button {
  border-radius: 1rem;
  color: var(--textcolor);
  font-size: 1rem;
  width: 15%;
  border: none;
  outline-color: none;
  height: 5.1vh;
  cursor: pointer;
  background: var(--hovercolor);
}
.handoverpopup button:hover {
 background-color:red;
}

/*start of from */
.handoverpopup_body form {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--primary);
  gap: 20px;
  min-height: 100vh;
}
.handoverinputitem {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 2px solid black;
  align-items: center;
  padding: 1rem;
}

.startofhandoverpage label {
  color: var(--fontcolor);

}

.startofhandoverpage .section {
  flex-basis: 20%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.startofhandoverpage select,
.startofhandoverpage .handoverpopup  input {
  border: none;
  height: 5.7vh;
  border-radius: 4px;
  width: 25rem;
  font-size: 16px;
  font-weight: 500;
}

.startofhandoverpage form {
  display: flex;
  gap: 20px;
  padding: 1% 0;
  object-fit: contain;
}
.startofhandoverpage form input:focus {
  outline-color: var(--primary);
}
/*start of apply button after  inout filed has been filed */
.startofhandoverpage .formbutton {
  width: 30%;
}
.startofhandoverpage .handoverapplybutton button {
  width: 400px;
  padding: 3.5% 0;
  background: var(--secondary);
  outline: none;
  border: none;
  color: var(--textcolor);
  border-radius: 4px;
  cursor: pointer;
}

.startofhandoverpage .handoverapplybutton button:hover {
  background: var(--hovercolor);
}

/*==================== start of table ===================================*/
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 7px 0;
}

thead {
  background: var(--textcolor);
}
tr td {
  text-align: center;
  border: 1px solid black;
  padding: 15px 0;
  font-weight: 700;
}

.startofhandoverpage th,
.startofhandoverpage td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

/* media query */
@media only screen and (min-width:1900px) {
  .startofhandoverpage  input , .startofhandoverpage  select {
      width: 35rem;
  
  }
 
  
}