@import url('../../var/var.css');

.main .container {
    margin: 0 1% 0 0;
    display: flex;
    flex-direction: column;
}

.container .search_add {
    display: flex;
    justify-content: space-around;
    padding-top: 1%;

}

.addlist button {
    background: lightgrey;
    width: 8rem;
    height: 5vh;
    border: none;
    border-radius: 8rem;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.search_add .searching {
    display: flex;
    justify-content: space-between;
}

.searching button {
    width: 17%;
    background-color: lightgray;
    border-radius: 8rem;
    border: none;
    outline-color: none;
    height: 4.6vh;
    padding-left: 0.2%;

}

.container .search_add button:hover {
    background: var(--hovercolor);
}

.container .add button .icon,
.popup .popup-content form .cancel .icon {
    font-size: 1.7rem;
}

/* table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    padding-right: 5%;
  } */

thead {
    background: var(--textcolor);
    margin: 1%;
}

tr td {
    border: 1px solid black;

}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;


}

.cancel .cancle{
    display: flex;
    width: 100%;
    justify-self: flex-end;
}

.popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100%;
    width: 96%;
    display: flex;
    background-color: lightcyan;

}

form .formitem {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 4%;
}

form .formitem .input_label {
    flex-basis: 20%;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 3px;
}

form .formitem .input_label input {
    width: 700px;
    border: none;
    padding: 2% 0;
    border-radius: 4px;


}

.popup .popup-content {
    background-color: var(--primary);
    box-shadow: 2px 6px 15px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 2% 0;

}


.popup .popup-content form {
    display: flex;
    gap: 20px;
    padding: 1% 0;
    object-fit: contain;


}

.popup .popup-content form .formitem {
    display: flex;
    flex-wrap: wrap;

}

form .formitem .input_label input:focus {
    outline: none;
}

.popup .popup-content .formbutton {
    width: 30%;
}

.popup .popup-content .formbutton button {
    width: 100%;
    padding: 2% 0;
    background: var(--secondary);
    outline: none;
    border: none;
    color: var(--textcolor);
    border-radius: 4px;

}

.popup .popup-content .formbutton button:hover {
    background: var(--hovercolor);
}