@import "../../../../../var/var.css";

   /* coporatebody has bodylist and  state */
.coporatebody {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
  }
  /* start bodylist */
   .coporatebody .bodylist {
    width: 45%;
    background-color: #2C3A64;
    border-radius: 1%;
    min-height: 60vh;
  }
 /* start bodylistitem */
  .coporatebody .bodylist .bodylistitem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
  }
   /* start bodylistitemname */
  .boydlistitemname {
    text-align: center;
    width: 100%;
    padding:30px 0;
    background-color: #495883;
    color: var(--textcolor);

  }

  /* active  state indicater */
  .bodylistitem .active {
    background-color: cadetblue;
  }
  
